* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Kumbh Sans", sans-serif;
}

/* navbar section*/
header {
    height: 15vh;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #131313;
    z-index: 999;
}

input {
    visibility: hidden;
}

ul,
li {
    display: inline-block;
}

li {
    margin: 0 20px;
}

nav li a {
    text-decoration: none;
    margin: 0 6px;
    color: #fff;
    font-size: 3vmin;
}

nav li a:hover {
    color: #9518fc;
    transition: all 0.3s ease;
}

button {
    border-style: none;
    border-color: transparent;
    background-color: transparent;
}

.logo-container a {
    text-decoration: none;
}

.logo {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8vmin;
    font-weight: bold;
    margin-right: auto;
    margin-left: 30px;
}

.signup-btn {
    font-size: 1.2rem;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 0;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    margin-right: 0;
}

.signup-btn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    transition: all 0.35s;
    border-radius: 4px;
}

.signup-btn:hover::after {
    width: 100%;
    z-index: -1;
}

a .signup-btn {
    position: relative;
    z-index: 1;
    color: #000;
}

/* responsive navbar 1*/
@media screen and (max-width: 1200px) {
    .toggle {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    .toggle a {
        text-decoration: none;
        color: #fff;
    }

    .toggle a:hover {
        color: #9518fc;
        transition: color 0.3s ease;
    }

    .toggle input {
        top: -48px;
        right: 71px;
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        z-index: 2;
        -webkit-touch-callout: none;
        visibility: visible;
        opacity: 0;
    }

    .toggle span {
        top: -48px;
        right: 75px;
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    .toggle span:first-child {
        transform-origin: 0% 0%;
    }

    .toggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .toggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #fff;
    }

    .toggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .toggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    .menu {
        left: 1000px;
        position: absolute;
        width: 300px;
        margin: -40px 0 0 0;
        padding: 50px 0 10px 0;
        background: #131313;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    .menu li {
        margin-bottom: 30px;
        padding: 10px 0;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .toggle input:checked ~ ul {
        transform: none;
        left: -295px;
        top: -25px;
    }
}

@media screen and (max-width: 780px) {
    .menu {
        width: 250px;
    }
    .toggle input:checked ~ ul {
        left: -245px;
    }
}

/* home section */
.home {
    height: 100vh;
    max-width: 100%;
    background-color: #000;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-heading {
    text-align: center;
    font-size: 7rem;
    color: #fff;
    margin-bottom: 25px;
}

.home-heading span {
    background: #ee0979;
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    background: linear-gradient(to right, #ff6a00, #ee0979);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}

.home-desc {
    font-size: 3rem;
    background: #da22ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9114ff, #da22ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f0eff, #da22ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 25px;
    text-align: center;
}

/*  untuk navbar temporary
.highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
} */

.explore {
    font-size: 1.8rem;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    padding: 30px 100px;
    border: none;
    border-radius: 4px;
    margin-top: 0;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.explore::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    transition: all 0.35s;
    border-radius: 4px;
}

.explore:hover::after {
    width: 100%;
    z-index: -1;
}

a .explore {
    position: relative;
    color: #000;
    z-index: 1;
}

/* responsive home*/

@media screen and (max-width: 1200px) {
    .menu li a {
        transform: scale(1.3);
    }

    .menu li button {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 1000px) {
    .home-heading {
        font-size: 10rem;
        margin-bottom: 4vh;
    }
    .home-desc {
        font-size: 5rem;
        margin-bottom: 3.5vh;
    }
    .explore {
        transform: scale(1.5);
    }
}

@media screen and (max-width: 810px) {
    .home-heading {
        font-size: 4.5rem;
        margin-bottom: 15px;
    }

    .home-desc {
        font-size: 2rem;
        margin-bottom: 25px;
    }

    .explore {
        font-size: 1rem;
        padding: 15px 50px;
    }

    .signup-btn {
        font-size: 1rem;
        padding: 10px 30px;
    }
}

/* about section */
.about {
    height: 100vh;
    padding-top: 15vh;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.about-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about-img-card {
    margin-right: 35px;
    height: 350px;
    width: 350px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    text-align: center;
    font-size: 4rem;
}

.about-content {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.about-content h1 {
    font-size: 5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.about-content h2 {
    font-size: 3rem;
    background: #ff8177;
    background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
    background: linear-gradient(to right, #8f0eff, #da22ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.about-content p {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #fff;
}

.about-btn {
    font-size: 1.2rem;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 0;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    margin-right: 0;
}

.about-btn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    transition: all 0.35s;
    border-radius: 4px;
}

.about-btn:hover::after {
    width: 100%;
    z-index: -1;
}

a .about-btn {
    position: relative;
    z-index: 1;
    color: #000;
}

/* responsive about */
@media screen and (max-width: 1100px) {
    .about-container {
        flex-direction: column;
    }

    .about-img-card {
        margin-right: 0;
        margin-bottom: 160px;
        transform: scale(1.3);
    }

    .about-content {
        margin-left: 0;
        transform: scale(1.3);
    }
}

@media screen and (max-width: 780px) {
    .about-container {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 740px) {
    .about-img-card {
        height: 250px;
        width: 250px;
        font-size: 2.5rem;
        margin-bottom: 100px;
    }

    .about-content h1 {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .about-content h2 {
        font-size: 1.8rem;
    }

    .about-content p {
        font-size: 1rem;
        margin: 0.5rem 0;
    }
}

/* services section */
.services {
    height: 100vh;
    background-color: #000;
    padding-top: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-container h1 {
    text-align: center;
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 3rem;
    font-size: 4rem;
}

.services-wrapper {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.services-wrapper a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 100%;
}

.services-wrapper a {
    flex: 0%;
    margin-bottom: 10px;
}

.services-wrapper h2 {
    margin-bottom: 20px;
    cursor: pointer;
    color: #fff;
}

.services-wrapper p {
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
}

.services-wrapper a {
    text-decoration: none;
}

.services-card1 {
    margin: 10px;
    height: 250px;
    width: 200px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-225deg, #00dbde 0%, #fc00ff 100%);
    transition: 0.3s ease-in;
    text-align: center;
}

.services-card2 {
    margin: 10px;
    height: 250px;
    width: 200px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1fa2ff;
    background: rgb(2, 0, 36);
    background: linear-gradient(-225deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    transition: 0.3s ease-in;
    text-align: center;
}

.services-card3 {
    margin: 10px;
    height: 250px;
    width: 200px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1fa2ff;
    background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    transition: 0.3s ease-in;
    text-align: center;
}
.services-card4 {
    margin: 10px;
    height: 250px;
    width: 200px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1fa2ff;
    background: rgb(34, 193, 195);
    background: linear-gradient(-225deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    transition: 0.3s ease-in;
    text-align: center;
}

.services-wrapper button {
    margin-top: 40px;
    background-color: #fff;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

.services-card1:hover {
    transition: 0.3s ease-in;
    transform: scale(1.075);
    cursor: pointer;
}

.services-card2:hover {
    transition: 0.3s ease-in;
    transform: scale(1.075);
    cursor: pointer;
}

.services-card3:hover {
    transition: 0.3s ease-in;
    transform: scale(1.075);
    cursor: pointer;
}

.services-card4:hover {
    transition: 0.3s ease-in;
    transform: scale(1.075);
    cursor: pointer;
}

/* responsive services */
@media screen and (max-width: 900px) {
    .services-wrapper a {
        flex: 35%;
    }
}

@media screen and (max-width: 780px) {
    .services-container {
        transform: scale(0.8);
    }

    .services-container h1 {
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }

    .services-card1 {
        height: 200px;
        width: 150px;
    }
    .services-card2 {
        height: 200px;
        width: 150px;
    }

    .services-card3 {
        height: 200px;
        width: 150px;
    }
    .services-card4 {
        height: 200px;
        width: 150px;
    }

    .services-wrapper h2 {
        margin-bottom: 10px;
    }

    .services-wrapper p {
        margin-top: 0;
    }

    .services-wrapper button {
        margin-top: 20px;
        height: 25px;
        width: 100px;
    }
}

@media screen and (max-width: 600px) {
    .services-wrapper a {
        flex: 0%;
    }

    .services-container h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .services-card1 {
        height: 180px;
        width: 120px;
    }
    .services-card2 {
        height: 180px;
        width: 120px;
    }

    .services-card3 {
        height: 180px;
        width: 120px;
    }
    .services-card4 {
        height: 180px;
        width: 120px;
    }

    .services-wrapper h2 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .services-wrapper p {
        font-size: 1rem;
        margin-top: 0;
    }

    .services-wrapper button {
        margin-top: 20px;
        height: 25px;
        width: 100px;
    }
}

/* sign up section */
.signup {
    height: 100vh;
    padding-top: 15vh;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.signup-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.signup-img-card {
    margin-right: 35px;
    height: 350px;
    width: 350px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
    background: linear-gradient(to right, #dd2476, #ff512f);
    text-align: center;
    font-size: 4rem;
}

.signup-content {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.signup-content h1 {
    font-size: 5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.signup-content h2 {
    font-size: 3rem;
    background: #ff8177;
    background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
    background: linear-gradient(to right, #8f0eff, #da22ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.signup-content p {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #fff;
}

.signup-btn {
    font-size: 1.2rem;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 0;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    margin-right: 0;
}

.signup-btn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    transition: all 0.35s;
    border-radius: 4px;
}

.signup-btn:hover::after {
    width: 100%;
    z-index: -1;
}

a .signup-btn {
    position: relative;
    z-index: 1;
    color: #000;
}

/* responsive sign up */
@media screen and (max-width: 1100px) {
    .signup-container {
        flex-direction: column;
    }

    .signup-img-card {
        margin-right: 0;
        margin-bottom: 160px;
        transform: scale(1.3);
    }

    .signup-content {
        margin-left: 0;
        transform: scale(1.3);
    }
}

@media screen and (max-width: 780px) {
    .signup-container {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 740px) {
    .signup-img-card {
        height: 250px;
        width: 250px;
        font-size: 2.5rem;
        margin-bottom: 100px;
    }

    .signup-content h1 {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .signup-content h2 {
        font-size: 1.8rem;
    }

    .signup-content p {
        font-size: 1rem;
        margin: 0.5rem 0;
    }
}

/* Footer */
.footer-container {
    padding-top: 15vh;
    padding-bottom: 50px;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-container ul {
    margin: 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 100%;
}

.footer-container > ul {
    flex: 0%;
    margin-bottom: 10px;
}

.footer-container ul a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(177, 177, 177);
    margin-bottom: 6px;
    text-align: center;
}

.footer-container ul h2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

/* responsive footer */
@media screen and (max-width: 1210px) {
    .footer-container > ul {
        flex: 30%;
    }

    .footer-container ul {
        margin: 50px 30px;
    }
}

@media screen and (max-width: 800px) {
    .footer-container ul h2 {
        font-size: 1rem;
    }

    .footer-container ul a {
        font-size: 0.8rem;
    }
}

/* footer final */
.footer-final {
    background-color: #131313;
}

.footer-final-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #fff;
}

.social-icons {
    font-size: 1.8rem;
    text-align: center;
}

#website-rights {
    margin-right: 40px;
    text-align: center;
}

.social-icon-link {
    margin-left: 10px;
    color: #fff;
}

.social-icon-link:hover {
    color: #8f0eff;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

/* responsive footer final */
@media screen and (max-height: 800px) {
    #website-rights {
        margin-right: 20px;
    }
}

/* responsive mobile untuk penyesuaian navbar dan semua section */
@media screen and (width: 1300px) {
    header {
        height: 10vh;
    }

    .home,
    .about,
    .services,
    .signup,
    .footer-container {
        padding-top: 10vh;
    }
}
